<div class="bg-base-100 p-4 rounded-lg shadow-md mt-6">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-lg font-semibold flex items-center">
      <span class="mr-2">🤖</span> Experimental Tools
    </h3>
  </div>

  <div class="overflow-auto max-h-60">
    <!-- Scrollable container -->
    <ul class="space-y-2">
      <li>
        <div class="flex items-center justify-between">
          <button
            [routerLink]="r.testAssistantsMemory()"
            routerLinkActive="bg-base-300"
            class="btn"
          >
            Improve Memories (slow)
          </button>
        </div>
      </li>
      <li>
        <div class="flex items-center justify-between">
          <button
            [routerLink]="r.pipeline()"
            routerLinkActive="bg-base-300"
            class="btn"
          >
            Connecting Assistants and Running
          </button>
        </div>
      </li>
      <li>
        <div class="flex items-center justify-between">
          <button
            [routerLink]="r.improvement()"
            routerLinkActive="bg-base-300"
            class="btn"
          >
            Feedback Improvement
          </button>
        </div>
      </li>
      <li>
        <div class="flex items-center justify-between">
          <button
            [routerLink]="r.assistantBrains()"
            routerLinkActive="bg-base-300"
            class="btn"
          >
            Assistant Brains
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
